.viewContainer {
  .item {
    .title {
      height: 50rpx;
      line-height: 50rpx;
      text-align: center;
      background-color: bisque;
      margin-bottom: 10rpx;
    }
    .play {
      width: 300px;
      height: 225px;
    }
  }
}
